body, p, div {
  display:flex;
  flex-direction: column;
}

body{
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;

  font-family: $body-font;

  background-color: $background-color;
}

.row{
  flex-direction: row;
  align-items: baseline;

}

.box{
  @extend %default-border;
  background-color: $white;
  padding: 20px 40px;
  width: 600px;}

.quote{
  display:flex;
  justify-content: center;
  flex-direction: column;
  #quote{
    flex-direction: row;
    font-size: $font-size;
  }

  #author{
    align-self: flex-end;
    color: $grey-700;
    font-size: $font-size-author;
  }
}

.share{
  justify-content: space-between;
  align-items: baseline;
}
