@import url('https://fonts.googleapis.com/css?family=Muli');
$body-font: 'Muli',sans-serif;

//Colors:
$deep-purple-500: #673ab7;
$deep-purple-800: #4527a0;

$grey-700: #616161;


$white: #FFFFFF;

//Primary colors:
  //background
    $background-color: $deep-purple-500;
    $background-color-text: $white;
  //Fonts
    $font-size: 200%;
    $font-size-author: 140%;
    $primary-font-color: $deep-purple-800;

  //buttons
    $button-color-border: $deep-purple-800;
    $button-color-bg: $deep-purple-500;
